#Alerts {
    width: 30%;
    height: 60px;
    margin-top: 20px;
    text-align: center;
    line-height: 50px;
    position: relative;
}

.warning {
    background-color: goldenrod;
}

.success {
    background-color: chartreuse;
}

.danger {
    background-color: firebrick;
}

.primary {
    background-color: aqua;
}

.alert-close {
    position: absolute;
    top: 30%;
    right: 10px;
}